@import "../../../assets/styles/index.scss";

.header {
  @extend %container;
  width: 100%;
  @extend %flex;
  height: 5rem;
  @include media-tablet {
    height: 4rem;
  }
  @include media-mobile {
    height: 3rem;
  }
}
