@import "../../../assets/styles/index.scss";

.footer {
  padding: 1rem 8.5%;
  margin: 0 auto;
  @extend %flex;
  @include font($height: 1.5rem, $size: 1rem);
  max-height: 5rem;
  @include media-tablet {
    max-height: 4rem;
    padding: 0.8rem 5.5%;
  }
  @include media-mobile {
    max-height: 3rem;
    padding: 0.5rem 3.5%;
  }
}
