@import "../../../assets/styles/index.scss";
.wrapper {
  @extend %container;
  width: 100vw;
  background-color: $color-bright;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 2rem;
  @include media-tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-mobile {
    grid-template-columns: 1fr;
  }
}
