@import "../../../assets/styles/index.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1.5rem;
  max-width: 75rem;
  padding: 1rem;
  @include media-tablet {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
  @include media-mobile {
    grid-template-columns: 1fr;
  }
}
