@import "../../../assets/styles/index.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  @include media-big-tablet {
    flex-direction: column;
  }
}
