@import "../../../assets/styles/index.scss";

.container {
  .catalog {
    @include font($size: 2rem, $height: 2.5rem);
    @include media-tablet {
      @include font($size: 1.5rem, $height: 2rem);
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;

  .buttonsContainer {
    display: flex;
    align-items: center;
  }
  .opacityForButton {
    opacity: 0.3;
  }
}
