@import "../../../assets/styles/index.scss";

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid $color-main;
  .text {
    @include font($height: 1.5rem, $size: 1rem);
    @media screen and (max-width: 800px) {
      @include font($height: 1.3rem, $size: 0.8rem);
    }
  }

  &.active {
    background-color: $color-addition-bright;
  }
  &.colored {
    background-color: $color-main;
  }
}
