@import "../../../assets/styles/index.scss";

.container {
  padding: 2.5rem 0 3rem 0;
  img {
    margin-right: 0.5rem;
  }
  .link {
    color: $color-black;
    text-decoration: none;
    @include font($height: 1.5rem, $size: 0.75);
  }
  @include media-tablet {
    padding: 1.5rem 0 1.8rem 0;
  }
  @include media-mobile {
    padding: 1rem 0 1rem 0;
  }
}
